:root {
  --primary-color: #059fca;
  --on-primary:#cdf3fe;
  --primary-hover: #0052cc;
  --secondary-colour:#9bdce8;
  --teritary-colour:#7fcce1;
  --dark-accent: #1b9bce;
  --light-accent: #e6f7fb;
  --accent-color: #059fca;
  --bg-light: #f9f9f9;
  --sidebar-bg: #ffffff;
  --topbar-bg: #f4f6f8;
  --text-dark: #050316;
  --text-light: #6b7280;
  --border-colour:	#e5e7eb;
  --error-color: red;
  --neutral-bg: #fbfbfe;
  --round-icon-radius: 24px;
  --radius: 8px;
  --font-size-base: 15px;
  --transition: 0.3s ease;
}

.pageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, var(--accent-color), #ffffff);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--bg-light);
}
.socialLogin {
  margin: 2rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.socialButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background: #f1f1f1;
  border: none;
  border-radius: var(--radius);
  padding: 0.65rem;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background var(--transition);
  color: var(--text-dark);
}

.socialButton:hover {
  background: #e2e2e2;
}

.error {
  color: var(--error-color);
  font-size: 0.875rem;
  margin-top: 0.5rem;
}
.formLabel {
  display: block;
  font-size: 0.875rem;
  font-weight: 600;
  text-align: left;
  color: var(--text-dark);
  margin-bottom: 0.3rem;
}

input {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: var(--font-size-base);
  border: 1px solid var(--border-color);
  border-radius: var(--radius);
  margin-bottom: 1rem;
  box-sizing: border-box;
}