@import './_shared.css';
.card {
  background: var(--sidebar-bg);
  border-color: var(--border-colour);
  border-radius: 0.5rem;
  padding: 1rem;
}

.list {
  list-style: none;
  padding: 0;
}

.friend {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

.friend img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
