@import './_shared.module.css';


.loginContainer {
  background: white;
  width: 100%;
  max-width: 420px;
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo {
  max-width: 140px;
  margin: 0 auto 1rem;
}

.slogan {
  font-size: 0.9rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.loginButton {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  transition: background var(--transition);
  margin-bottom: 1rem;
}

.loginButton:hover {
  background-color: var(--primary-hover);
}


.linkRow {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}
