@import './_shared.module.css';

.registerContainer {
  display: flex;
  background: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2.5rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo {
  max-width: 140px;
  margin-bottom: 1rem;
}

.slogan {
  font-size: 0.9rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.nameRow,
.dobRow{
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}
.dobRow select{
  flex: 1;
  min-width: 100px;
}
.formRow {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.nameField,
.formSection {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.label,
.formLabel,
.dobLabel {
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
  color: var(--text-dark);
  text-align: left;
}

select,
input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid var(--border-color);
  border-radius: var(--radius);
  font-size: var(--font-size-base);
  background-color: #fff;
}

.linkRow {
  display: flex;
  justify-content: flex-start;
  font-size: 0.875rem;
  margin-top: 1rem;
}

.signUpButton {
  width: 40%;
  padding: 0.75rem;
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  margin: 2rem auto 1rem;
  display: block;
  transition: background var(--transition);
}

.signUpButton:hover {
  background-color: var(--primary-hover);
}

@media (max-width: 600px) {
  .signUpButton {
    width: 100%;
  }
}

