.right {
  display: flex;
  float: right;
  margin: 1.25rem;
  border-radius: var(--round-icon-radius);
  align-items: center;
  gap: 0.5rem;
}

.notifications,
.settings,
.avatar {
  width: 36px;
  height: 36px;
  border-radius: var(--round-icon-radius); 
}